*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex1{
    flex: 1;
}

.wrapper{
    background: #fff;
    display: flex;
  margin: 25% 50%;
}
.container{
    margin:30px;
}
body {
    padding-top: 70px;
  }
  body {
    padding-top: 70px;
  }
  .menu {
    height: 70px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .menu .logo {
    line-height: 70px;
    color: white;
  }
  .menu nav {
    width: 50%;
    z-index: 1000;
    transition: all 0.5s ease;
  }
  .menu nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
  }
  .menu nav > ul > li {
    line-height: 70px;
  }
  .menu nav > ul > li:hover {
    text-decoration: underline;
  }
  .menu a {
    text-decoration: none;
    color: white;
  }
  .menu .sign-up {
    z-index: 1000;
  }
  .menu .sign-up li {
    list-style: none;
    line-height: 70px;
    display: inline-block;
  }
  .menu .sign-up a {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  .menu .sign-up a:hover {
    background: white;
    color: black;
  }
  .menu .burger {
    display: none;
    transform: translateY(30%);
  }
  .menu .burger div {
    transition: transform 0.5s ease;
    height: 3px;
    width: 30px;
    background: rgb(215, 221, 223);
    margin: 5px;
  }
  .menu .burger .line2 {
    width: 25px;
  }
  .clicked .line1 {
    transform: rotate(45deg) translate(2px, 9px);
  }
  
  .clicked .line2 {
    opacity: 0;
  }
  
  .clicked .line3 {
    transform: rotate(-45deg) translate(2px, -10px);
  }
  footer {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
  }
  .social ul {
    list-style: none;
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }
  .social i {
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 50px;
  }
  .social i:hover {
    color: rgb(24, 121, 185);
  }
  .footer {
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
  }
  .center-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 50px auto;
    grid-gap: 30px;
    justify-content: space-around;
  }
  .center-content i {
    font-size: 50px;
    color: #555;
  }
  .center-content p {
    margin: 10px auto;
  }
  .footer address {
    margin-top: 50px;
    opacity: 0.7;
  }
  .footer address span {
    color: red;
  }
  .up img{
      height: 350px;
      width: 100%;
      margin:0 auto;
  }
  .up h1{
color: black;
}
.up p{
   color: rgb(15, 15, 119);
}
.up span{
color: brown;
}
  

@media only screen and (max-width: 900px) {
    .row{
        flex-direction: column;
    }
  }
  
@media screen and (max-width: 900px) {
    .menu .sign-up {
      display: none;
    }
    .menu nav {
      width: 70%;
    }
  }
  @media screen and (max-width: 650px) {
    .menu nav {
      position: absolute;
      top: 70px;
      height: calc(100vh - 70px);
      background: rgba(0, 0, 0, 0.87);
      width: 100%;
      right: -110%;
    }
    .menu nav ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .menu .burger {
      display: block;
    }
  }
  .menu nav.shown-nav {
    right: 0;
  }
  